.csrr{
 height: 817px;
 font: 14px "Helvetica Neue LT W1G", Helvetica;
 font-style: normal;
 padding-top: 100px;
}
.csrr-title{
 font: 18px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 700;
 line-height: 22px;
 letter-spacing: 0.1em;
 padding-left: 100px;
 text-align: left;
 color: #00677F;
}
.csr-desc{
 display: flex;
 width: 90vw;
 margin-top: 30px;
 padding-left: 100px;
}
.csr-right, .csr-left{
 width: 50%;
}
.csr-left > p {
 font: 46px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 400;
 line-height: 55.2px;
 text-align: left;
}
.csr-left > p > span {
 font: 46px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 700;
 line-height: 55.2px;
 text-align: left;
}
.csr-right > p {
 font: 20px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 400;
 line-height: 30px;
 text-align: left;
 padding-right: 40px;
}
.csr-btn {
 display: flex;
 align-items: center;
 cursor: pointer;
 margin-top: 15px;
 gap: 5px;
}
.csr-commitment{
 height: 225px;
 background: #222222;
 margin-top: -15px;
 padding: 60px 100px;
}
.commit-one{
 font: 18px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 700;
 line-height: 22px;
 letter-spacing: 0.1em;
 text-align: left;
 color: #00677F;
}
.commit-two {
 font: 20px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 400;
 line-height: 30px;
 text-align: left;
 margin-top: 20px;
 color: #fff;
}
.csr-picture{
 display: flex;
 align-items: center;
 overflow-x: hidden;
 overflow-y: hidden;
 margin-top: 50px;
}
.csr-single{
 width: 360px;
 height: 500px;
 position: relative;
 overflow: hidden;
 transition: all 0.3s ease;
}
.csr-single > img{
 width: 100%;
 height: 100%;
}
.csr-single > p{
 position: absolute;
 bottom: 40px;
 font: 30px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 700;
 line-height: 36px;
 text-align: left;
 left: 30px;
 color: #FFFFFF;
}

.csr-single {
 position: relative;
 transition: all 0.3s ease;
}

.csr-single:hover {
 background-color: red;
}

.csr-single:hover img {
 transform: translateY(-100%);
}

.csr-single:hover p {
 transform: translateY(-100%);
}

.csr-single:hover::after {
 content: '\2192';
 position: absolute;
 bottom: 15px;
 right: 15px;
 font-size: 40px;
 color: white;
}
