.dropdown{
 position: fixed;
 top: 70px;
 background-color: #fff;
 width: 100%;
 height: 450px;
 display: flex;
 z-index: 10000;
}
.dropdown-left-top{
 position: absolute;
 top: 50px;
}
.dropdown-top-text{
 margin-top: -45px;
 font: 20px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 500;
 line-height: 28px;
 color: #fff;
 margin-left: 30px;
}
.dropdown-left-mid{
 position: absolute;
 top: 130px;
 color: #fff;
 margin-left: 30px;
 font: 14px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 400;
 line-height: 22px;
 text-align: left;
}
.dropdown-left-mid > span{
 font: 20px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 500;
 line-height: 28px;
 text-align: left;
}
.dropdown-left-bottom{
 display: flex;
 align-items: center;
 position: absolute;
 top: 230px;
 margin-left: 30px;
 gap: 10px;
}
.bottom-text{
 font: 14px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 500;
 line-height: 22px;
 text-align: left;
 color: #fff;
}
.dropdown-right{
 position: absolute;
 bottom: -4px;
 right: 0;
}
.dropdown-mid{
 position: absolute;
 top: 60px;
 left: 500px;
 display: flex;
 gap: 90px;
 flex-wrap: wrap;
}
.dropdown-header{
 display: flex;
 align-items: start;
 gap: 10px;
 cursor: pointer;
}
.heder-drop{
 font: 20px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 400;
 line-height: 30px;
 text-align: center;
}
.main-dropdown{
 display: flex;
 align-items: start;
 justify-content: start;
 flex-direction: column;
}
.submenu{
 margin-left: 27px;
 padding-top: 10px;
}
.submenu > a {
  text-decoration: none;
  color: black;
  opacity: 60%;
  font: 18px "Helvetica Neue LT W1G", Helvetica;
}
.submenu > p {
 color: black;
 opacity: 60%;
 font: 18px "Helvetica Neue LT W1G", Helvetica;
}
@keyframes slideInDown {
 from {
   transform: translateY(-100%);
   opacity: 0;
 }
 to {
   transform: translateY(0);
   opacity: 1;
 }
}

.animated {
 animation-name: slideInDown;
 animation-duration: 0.8s;
}


.dropdown-header.active {
 color: #E71316;
 display: flex;
 align-items: center;
}
