.hero {
 position: relative;
 width: 100%;
 height: 800px;
 background: #00081B;
 z-index: -2;
 font: 14px "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  margin-top: 78px;
}
.video-container {
 position: relative;
 width: 100%;
 height: 100%;
 overflow: hidden;
}
.video-background {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 z-index: -1;
}
.video-overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 85%;
 background: linear-gradient(to left, #E71316, #00677F);
  mix-blend-mode: overlay;
 z-index: 0;
}
.top-trap{
 position: absolute;
 top: 0;
 right: 0;
}
.mission-main{
 position: absolute;
 bottom: 0;
 left: 0;
 display: flex;
 align-items: center;
}
.mission-text{
 position: absolute;
 top: 0;
 padding-top: 50px;
 margin-left: 150px;
}
.mission-title{
 font-size: 19px !important;
 color: #fff;
 font-weight: 700;
}
.desc{
 padding-top: 15px;
 font-size: 46px !important;
 color: #fff;
 font-weight: 100 !important;
}
.desc > span {
 font-weight: 700;
}
.btn {
 margin-top: 40px;
 color: #fff;
 cursor: pointer;
}
.our-mission{
 margin-left: -93px;
}
.right-main{
  position: absolute;
  bottom: 0;
  background-color: #00081B;
  width: 100%;
  height: 117px;
  z-index: -1;
}
.hero-right{
 position: absolute;
 right: 0;
 bottom: 0;
}
.hero-right > img{
 height: 117px;
}
.right{
 position: absolute;
 top: 0;
 margin-top: 50px;
 text-align: center;
 font-size: 18px !important;
 color: #fff;
 font-weight: 500;
 margin-left: 160px;
 cursor: pointer;
}
