.main-about{
 margin-top: 100px;
 margin-bottom: -80px;
}
.main-about .decription {
 font: 18px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 700;
 line-height: 22px;
 color: #00677F;
 margin-left: 100px;
 margin-bottom: 30px;
}
.main-about-img{
 width: 100%;
 height: 396px;
 position: relative;
 overflow-x: hidden;
 overflow-y: hidden;
}

.main-about-img > img {
 width: 100%;
 height: 396px;
}
.main-overlay{
 display: flex;
 top: 0px;
 width: 100%;
}
.left-main-overlay,
.right-main-overlay {
 mix-blend-mode: multiply;
}
.left-main-overlay > img,
.right-main-overlay > img {
 width: 100%;
 height: 100%;
}
.right-main-overlay{
 position: absolute;
 top: 0;
 z-index: 1;
 margin-left: 480px;
}
.left-main-overlay{
 position: absolute;
 top: 0;
 z-index: 2;
}
.right-main-overlay > img {
 margin-left: 85.5px;
}
.play{
 position: absolute;
 top: 50%;
 left: 35%;
 color: #fff;
 display: flex;
 align-items: center;
 gap: 10px;
}
.round{
 width: 30px;
 height: 30px;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #222222;
}
.round:hover{
 background-color: red;
}
.play-btn{
 font: 14px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 700;
 line-height: 22px;
 text-align: left;
}
