.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 120px;
  margin-bottom: 502px ;

}

.leftdiv {
  width: 392px;
  height: 317px;
  flex-shrink: 0;
  border-radius: 2px;
  /* opacity: 0.5; */
  background: var(--Nuetral-8, #ebebec);
  margin-bottom: 10px; /* Add some margin between each div */
}

.leftdiv .p {
  margin: -232px 25px 89px 24px;

  position: relative;
  width: 382px;
  height: 257px;

  font: 16px "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #222222;
  /* font-size: 15px; */
  letter-spacing: 0;
  line-height: 1.5rem;
}

.logo {
  width: 40px;
  height: 40px;
 
 margin: 24px 328px 253px 24px;
}

.lastlines {
  font-size: 14px;
  font-family: "Helvetica Neue LT W1G-55Roman", Helvetica;
  font-weight: 400;
  color: rgba(84, 88, 90, 1);
  width: 263px;
  height: 17px;
  margin-left: 10px;
  margin-top: 150px;
  white-space: nowrap;
}
